.main_frame {
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
    align-content:flex-start;
    gap: 0px 10px;
    width: 500px;
    height: 1500px;
  }
  img {
    width: 200px;
    height: 200px;
    transition: 1s ;
    border-radius:200px;
  }
  body {
    display:flex;
    justify-content:center;

    margin: 0px;
  }
  .sportsman_card {
    position:relative;
    max-height: 334px;
    transition: 1s all;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 220px;
    height: 241px;
    border-radius: 10px;
    margin-top:30px;
  }

  .text {
    font-size: 20px;
    height: 20px;
    margin-top:8px;
    color: #2f4f4f;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
  .inside_number {
    transition: all 1s;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: absolute;
    font-size: 16px;
    font-family: Arial;
    color: #8b0000;
    width: 32px;
    height: 32px;
    top:80px;
    left:167px;
    font-weight: bold;
    background: white;
    border-radius: 100px;
  }
  .info {
    font-size: 0px;
    margin-top:25px; 
    transition:1s all;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 154px;
  }
  .sportsman_card:hover {
    background: orange;
    width: 220px;
    height: 287px;
    margin-bottom:-46px;
    transform: scale(1.2);
    z-index:1;
  }
  .sportsman_card:hover .info {
    font-size:18px;
    margin-top:9px;
  }
  .sportsman_card:hover img {
    border-radius: 60px;
  }



@media (min-width: 1000px){
    .main_frame{
      gap:0px,0px;
      width:1000px;
      height:1000px;
    }
}
@media (min-width: 1500px){
  .main_frame{
    gap:0px,0px;
    width:1000px;
    height:1000px;
  }
}

  